<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/materialize.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <!-- Favicon -->
    <link rel="icon" href="{{site.baseurl}}/images/ak_favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/materialize.min.js"></script>
    <title>Artem Kresling</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div  class="sidebar col s3 side-nav fixed center-align">
            <ul id="no_padding">
                <a href="{{site.baseurl}}/">
                <img id="logo" src="{{site.baseurl}}/images/ak_hollow.png" />
                <h4> Artem Kresling </h4></a>
                <div class="black divider"></div>
                </br>
                <li><a id="heading" href="{{ site.baseurl }}/aboutme.html">About Me</a></li>
                <li><a id="heading" href="{{ site.baseurl }}/projects.html">My Projects</a></li>
            </ul>
             <div class="icons">
                    <a id="icons_link" target="_blank" href="https://github.com/akresling"><i class="fa fa-git-square fa-3x"></i></a>
                    <a id="icons_link" target="_blank" href="https://ca.linkedin.com/in/artem-kresling-662773a2"><i class="fa fa-linkedin-square fa-3x"></i></a>
                    <a id="icons_link" href="mailto:akresling@gmail.com"><i class="fa fa-envelope-square fa-3x"></i></a>

                    <div class="black divider"></div>
                </div>
        </div>

            <div class="content full_height col s9 offset-s3">{{content}}</div>

        </div>
    </div>


</body>

</html>
